.moonContainer {
	height: auto;
	width: 100px;
	margin: auto;
   font-size: 45px;
	position: relative;
}
.phase {
   background-color: transparent;
   vertical-align: middle;
   line-height: 0;
   width: 100%;
   margin: auto;
	z-index: 1;
	position: absolute;
}
.moonPhaseEmoji{
    display: none;
}
.moonPhaseEmoji2{
    font-size: 35px;
    margin-bottom: 4px;
}

/* --------- */
/*Scrollbar   */
/* --------- */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #33658A;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3E465D;
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5B96C2;
    border-radius: 12px;
}

h1.hero {
    width: 211px;
    margin-left: 61px;
    text-align: center;
    color: whitesmoke;
    text-shadow: 3px 13px 13px #1f1d1d;
}
h3.hero {
    margin-left: 16px;
    width: 308px;
    color: whitesmoke;
    text-shadow: 3px 13px 13px #1f1d1d;
}
.hero-container {
    background-color: #1a1c1d;
    height: 94vh;
}
.hero-container.col {
    width: 50%;
    float: right;
    margin-right: -12px;
}
.hero-container.container {
    background-image: url('./Assets/Images/nasa-1lfI7wkGWZ4-unsplash.jpg');
    background-size: cover;
    max-width: 1913px;
}
img.img-fluid.logo {
    margin-top: 285px;
    margin-left: 121px;
}

nav.bg-body-tertiary.navbar.navbar-expand-lg.navbar-light{
    background-color: #33658a !important;
    position: sticky;
    height: 51.594px;
}

.navbar-nav {
    text-align-last: right;
}
a.nav-link{
    color: #f5b51b !important;
    font-weight: 660;
    text-align: center;
    margin: 4px;
    text-decoration-line: none;
}
.nav-link:focus,
.nav-link:hover {
    color: ghostwhite !important;
}
h4.navBrand-heading{
    margin-left: 14px;
    color: #f5b51b;
    font-weight: 700;
    line-height: 1.4;
    
}
a.navbar-brand{
    display: inline-flex;
}

/* --------- */
/*About   */
/* --------- */
h1.about {
    text-align: center;
}
.about-container.container-fluid {
    height: 95vh;
}
div.about-description.row{
    text-align: center;
}
div.about-container.container-fluid {
    background-color: #18181a;
    margin-top: -6px;
    padding-top: 31px;
}
.recruitingPositions_item.col {
    display: inline-block;
    padding: 11px;
    transition: all 550ms cubic-bezier(
        .36, .63, .5, .73
    );
    box-shadow: 0 0 0 0 var(--accent);
    outline: 2px solid;
    color: white;
}
.recruitingPositions_item.col:hover{
    box-shadow: 0 0 0 2px var(
        --accent
    );
    outline-color: rgba(255, 255, 255, 0
    );
    outline-offset: 15px;
    color: var(--accent);
}
.jobIcons_item.col {
    display: inline-block;
    padding: 11px;
    transition: all 550ms cubic-bezier(
        .36, .63, .5, .73
    );
    box-shadow: 0 0 0 0 var(--accent);
    outline: 2px solid;
    color: white;

}
.jobIcons_item.col:hover {
    box-shadow: 0 0 0 2px var(
        --accent
    );
    outline-color: rgba(255, 255, 255, 0
    );
    outline-offset: 15px;
    color: var(--accent);
}

.mission-container.container-fluid{
    background-color: #151516;
    padding-top: 31px;
    margin-top: -6px;
    height: 95vh;
}
.mission-img.col-md-5 {
    text-align: center;
}
.mission-description.row{
    max-width: 70%;
    margin-left: 320px;
}
.mission-img.row{
    justify-content: center;
}

hr.about {
    margin-left: -124px;
    width: 120%;
}
.cards {
    padding: 4rem;
    background-color: #121213;
    padding-top: 15px;
  }
  
  h1 {
    text-align: center;
    color: #f5b51b;
  }
  
  .cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
  .cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  
  .cards__items {
    margin-bottom: 24px;
  }
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }
  
  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px #fff;
    -webkit-filter: drop-shadow(0 6px 20px #fff);
    filter: drop-shadow(0 6px 20px #fff);
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
  }
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
  }
  
  .cards__item__info {
    padding: 20px 30px 30px;
    background: #fff;
  }
  .cards__item__title {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-weight: 700;
  }
  .cards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
.gallery-container.container-fluid {
    padding: 4rem;
    background-color: #0A0A0B;
    padding-top: 15px;
    height: 95vh;
    padding-top: 31px;
    margin-top: -6px;
    font-weight: 500;
  }
img.d-block.w-100{
    height: 558px;
}
.gallery-img.col-md-5{
    margin-left: 564px;
} 
h5.carouselCaption{
    text-shadow: 3px 3px 3px #cac9c9;
} 
p.carouselCaption{
    text-shadow: 3px 3px 3px #cac9c9;
}
img.galleryImg-fluid{
    height: 180px;
} 
.contact.col-md-7 {
    width: 515px;
    display: contents;
}
div#contact.contact-section.container-fluid {
    margin-top: -6px;
    padding-top: 31px;
    padding-left: 55px;
    text-align: center;
    height: 95vh;
}
hr.contact {
    width: 1144px;
    color: whitesmoke;
}
input#name.form-control.formInput {
    width: 404px;
}
input#email.form-control.formInput {
    width: 404px;
}
input#phone.form-control.formInput {
    width: 404px;
}
input#city.form-control.formInput {
    width: 404px;
}
input#subject.form-control.formInput {
    width: 404px;
}
textarea#message.form-control.formInput {
    width: 404px;
    height: 100px;
}
.contact-img.col-md-5 {
    margin-top: 10px;
}
img.img-fluid-contact {
    height: 150px;
}
p.MuiTypography-root.MuiTypography-body2.css-r40f8v-MuiTypography-root {
    color: whitesmoke;
    font-size: 0.80rem;
    display: inline-flex;
    margin-left: 595px;
}
.MuiContainer-root.MuiContainer-maxWidthSm.css-cuefkz-MuiContainer-root{
    max-width: 1550px;
}
section.flagImg{
    margin-left: 350px;
}
.row.formRow{
    margin-left: 350px;
}
.row.subjectForm{
    margin-left: 350px;
}
.row.messageForm{
    margin-left: 350px;
}
h5.contact{
    color: whitesmoke;
}
/* --------- */
/* Footer */
/* --------- */
.footer {
    background-color: rgb(0, 0, 0);
    bottom: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 8px !important ;
  }
  .footer-copywright {
    text-align: center !important;
  }
  
  .footer-body {
    text-align: center !important;
  }
  .footer.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
  }
  .footer.container-fluid{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  .footer-copywright.col-md-4{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    color: whitesmoke;
    font-size: 0.80rem;
  }
  .footer-body.col-md-4{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .social-icons {
    display: inline-block !important;
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer-flagImg.col-md-4{
    padding-left: 420px;
  }
  @media (max-width: 767px) {
    .footer-copywright {
      text-align: center !important;
    }
  
    .footer-body {
      text-align: center !important;
    }
  }
  
  .footer h3 {
    font-size: 1em;
    color: #cdd1d5 !important;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
  }
  .footer-icons {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    padding: 0 !important;
  }
  
  .blockquote-footer {
    color: #147B41 !important;
  }
@media (min-width: 3201px) and (max-width: 3840px) {

}   
@media (min-width: 2561px) and (max-width: 3200px) {

}  
@media (min-width: 1921px) and (max-width: 2560px) {
    img.img-fluid.logo{
        margin-top: 455px;
    }
    .about-container.container-fluid {
        height: 96.4vh;
    }
    .hero-container.container{
        max-width: 2553px;
    }
    .mission-container.container-fluid{
        height: 96.4vh;
    }
    .cards{
        height: 96vh;
    }
    div#contact.contact-section.container-fluid {
        height: 96.4vh;
    }
    .about.container {
        margin-top: 150px;
    }
    .mission.container {
        margin-top: 150px;
    }
    .contact.container {
        margin-top: 150px;
    }
    .footer.container-fluid{
        width: 100%;
    }
    div.gallery-container.container-fluid {
        padding: 4rem;
        background-color: #0A0A0B;
        padding-top: 15px;
        height: 96.4vh;
        font-weight: 500;
      }
    img.d-block.w-100{
        height: 900px;
    }
    div.gallery-img.col-md-5{
        margin-left: 546px;
    } 
    h5.carouselCaption{
        text-shadow: 3px 3px 3px #cac9c9;
    } 
    p.carouselCaption{
        text-shadow: 3px 3px 3px #cac9c9;
    } 

}
@media screen and (width <= 1600px) {

}
/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1367px) and (max-width: 1440px) {
    hr.about{
        margin-left: -33px;
        width: 105%;
    }
    .footer-copywright.col-md-4 {
        font-size: 0.71rem;
    }
    div.about-container.container-fluid {
        height: 96vh;
        margin-top: -5px;
        padding-top: 150px;
    }
    div.mission-container.container-fluid{
        height: 96vh;
        margin-top: -5px;
        padding-top: 150px;
    }
    div.gallery-container.container-fluid {
        padding-top: 15px;
        height: 96.09vh;
      }
    img.d-block.w-100{
        height: 820px;
    }
    div.gallery-img.col-md-5{
        margin-left: 546px;
    }
    img.galleryImg-fluid{
        height: 175px;
    } 
    div#contact.contact-section.container-fluid {
        height: 96vh;
        margin-top: -5px;
        padding-top: 150px;
    }
    div.footer-copywright.col-md-4{
        font-size: 0.60rem;
    }
}
@media (min-width: 1281px) and (max-width: 1367px) {
    img.img-fluid.logo{
        max-width: 480px;
    }
    h5.about{
        font-size: 1.15rem;
    }
    h4.about{
        font-size: 1rem;
    }
    h3.about{
        font-size: 1.65rem;
    }
    h1.about{
        font-size: 2.3rem;
    }
    h4.mission{
        font-size: 1.2rem;
    }
    h1.mission{
        font-size: 2.3rem
    }
    h1.scards{
        font-size: 2.3rem;
    }
    h1.contactHeading{
        font-size: 2.3rem;
    }
    .contact-img.col-md-5{
        margin-top: 3px;
    }
    hr.contact{
        margin-top: 4px;
        margin-bottom: 4px;
    }
    h5.contact{
        font-size: 1.15rem;
    }
    br.contact{
        display: none;
    }
    textarea#message.form-control.formInput{
        height: 90px;
    }
    .footer-flagImg.col-md-4{
        padding-left: 360px;
    }
    hr.about{
        margin-left: -28px;
    }
    .footer-copywright.col-md-4{
        font-size: 0.67rem;
    }
    div.gallery-img.col-md-5{
        margin-left: 464px;
    }

}
@media (min-width: 993px) and (max-width: 1280px) {
    img.img-fluid.logo {
        width: 340px;
        margin-left: 151px;
    }
    h1.about{
        font-size: 2.1rem;
        margin-bottom: 6px;
    }
    h5.about{
        font-size: 1.05rem;
        margin-bottom: 2.5px;
    }
    h4.about{
        font-size: 1.2rem;
        margin-bottom: 3px;
    }
    h3.about{
        font-size: 1.5rem;
        margin-bottom: 2px;
    }
    
    .about-container.container-fluid{
        height: 93.6vh;
    }
    hr.about{
        margin-left: -60px;
        width: 110%;
    }
    h4.mission{
        font-size: 1.24rem;
        margin-bottom: 4px;
    }
    h1.mission{
        font-size: 2.1rem;
        margin-bottom: 6px;
    }
    .mission-container.container-fluid{
        height: 93.6vh;
    }
    img.missionImg-fluid{
        height: 160px;
    }
    h1.scards{
        font-size: 2.10rem;
    }
    .cards{
        padding: .5rem;
    }
    h1.contactHeading{
        font-size: 2.1rem;
        margin-bottom: 6px;
    }
    div#contact.contact-section.container-fluid{
        padding-top: 14px;
        height: 93.6vh;
    }
    .contact-img.col-md-5{
        margin-top: 7px;
    }
    hr.contact{
        margin-top: 2px;
        margin-bottom: 2px;
    }
    h5.contact{
        font-size: 1.15rem;
        margin-bottom: 4px;
    }
    br.contact{
        display: none;
    }
    textarea#message.form-control.formInput{
        height: 88px;
    }
    img.img-fluid-contact{
        height: 144px;
    }
    .footer-flagImg.col-md-4{
        padding-left: 340px;
    }
    .footer-copywright.col-md-4{
        font-size: 0.57rem;
    }
}
@media screen and (width <= 1024px) {
    img.img-fluid.logo{
        margin-top: 340px;
        margin-left: 85px;
    }
    hr.contact{
        width: 855px;
        margin-top: 4px;
        margin-bottom: 4px;
    }
    section.flagImg{
        margin-left: 230px;
    }
    .row.formRow{
        margin-left: 230px;
    }
    .row.subjectForm{
        margin-left: 230px;
    }
    .row.messageForm{
        margin-left: 230px;
    }
    h5.about{
        font-size: 1rem;
    }
    h4.about{
        font-size: .85rem;
    }
    h3.about{
        font-size: 1.50rem;
    }
    h1.about{
        font-size: 2.15rem;
    }
    .about-container.container-fluid{
        height: 96.05vh;
    }
    hr.about{
        margin-left: -34px;
        width: 108%;
    }
    h4.mission{
        font-size: 1.1rem;
    }
    h1.mission{
        font-size: 2.15rem;
    }
    .mission-img.col-md-5{
        margin-top: -21px;
    }
    .mission-container.container-fluid{
        height: 96.05vh;
    }
    .cards{
        height: 95.5vh;
    }
    h1.scards{
        font-size: 2.15rem;
    }
    .gallery-container.container-fluid{
        height: 96.05vh;
    }
    .gallery-img.col-md-5 {
        margin-left: 294px;
    }
    img.galleryImg-fluid{
        height: 288px;
    }
    h1.contactHeading{
        font-size: 2.15rem;
    }
    div#contact.contact-section.container-fluid{
        height: 96.05vh;
    }
    .contact-img.col-md-5{
        margin-top: 5px;
    }
    .footer-flagImg.col-md-4{
        padding-left: 260px;
    }
    .footer-copywright.col-md-4{
        font-size: 0.51rem;
        padding-left: 2px;
        padding-right: 2px;
    }
}
/*  Large devices (desktops, 992px and up) */
@media  (min-width: 769px) and (max-width: 992px) {
    img.img-fluid.logo{
        margin-top: 190px;
    }
    h5.about{
        font-size: .9rem;
        margin-bottom: 0;
    }
    h4.about{
        font-size: .8rem;

    }
    h3.about{
        font-size: 1.40rem;
        margin-bottom: 0;
    }
    h1.about{
        font-size: 2rem;
        margin-bottom: 0;
    }
    .about-container.container-fluid{
        height: 90.4vh;
    }
    hr.about{
        margin-left: -24px;
        width: 105%;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .recruitingPositions_item.col{
        font-size: 14px;
    }
    .jobIcons_item.col{
        font-size: 14px;
    }
    h4.mission{
        font-size: 1rem;
    }
    h1.mission{
        font-size: 2rem;
    }
    .mission-img.col-md-5{
        margin-top: -24px;
    }
    img.missionImg-fluid{
        height: 90px;
    }
    .mission-container.container-fluid{
        height: 88.8vh;
    }
    h1.scards{
        font-size: 2rem;
    }
    h1.contactHeading{
        font-size: 2rem;
    }
    div#contact.contact-section.container-fluid{
        padding-top: 4px;
        height: 88.8vh;
    }
    .contact-img.col-md-5{
        margin-top: 5px;
    }
    hr.contact{
        margin-top: -8px;
        margin-bottom: 4px;
    }
    h5.contact{
        font-size: 1rem;
        margin-bottom: 0;
    }
    br.contact{
        display: none;
    }
    textarea#message.form-control.formInput{
        height: 80px;
    }
    img.img-fluid-contact{
        height: 50px;
    }
    .footer-copywright.col-md-4{
        font-size: 0.49rem;
    }
}
@media screen and (width <=991px) { 
    .moonContainer {
        margin-right: 4px;
        font-size: 30px;
        margin-top: -24px;
    }
    .moonPhaseEmoji{
        font-size: 35px;
        margin-top: -14px;
        margin-left: -15px;
        display: flex;
    }
    .moonPhaseEmoji2{
        display: none;
    }
    div.navbar-nav{
        display: -webkit-inline-box;
    }
    button.navbar-toggler.collapsed{
        margin-bottom: 8px;
    }
    button.navbar-toggler{
        margin-bottom: 8px;
    }
    #responsive-navbar-nav.navbar-collapse.collapse.show{
        text-align: center!important;
    }
    .collapsing{
        text-align: center;
    }
    img.img-fluid.logo{
        max-width: 440px;
        margin-left: 21px;
        margin-top: 280px;
    }
    div.about-container.container-fluid{
        height: 96.05vh;
        padding-top: 194px;
    }
    h5.about{
        font-size: 1.1rem;
        margin-bottom: 0;
    }
    h4.about{
        font-size: 1rem;

    }
    h3.about{
        font-size: 1.60rem;
        margin-bottom: 0;
    }
    h1.about{
        font-size: 2.2rem;
        margin-bottom: 0;
    }
    hr.about{
        width: 107%;
    }
    .mission-container.container-fluid{
        height: 96.05vh;
        padding-top: 194px;
    }
    div.mission-description.row{
        max-width: 77%;
        margin-left: 197px;
    }
    h4.mission{
        font-size: 1.2rem;
    }
    h1.mission{
        font-size: 2.2rem;
    }
    img.missionImg-fluid{
        height: 305px;
        padding-top: 20px;
        margin-top: 20px;
    }
    h1.scards{
        font-size: 2.2rem;
    }
    .cards{
        height: 240vh;
        padding-top: 57px;
    }
    .gallery-container.container-fluid{
        padding-top: 62px;
    }
    .gallery-img.col-md-5{
        margin-left: 196px;
    }
    h1.contactHeading{
        font-size: 2.2rem;
    }
    div#contact.contact-section.container-fluid{
        height: 96.05vh;
        padding-top: 62px; 
    }
    div.row.formRow{
        margin-left: 144px;
    }
    div.row.subjectForm{
        margin-left: 144px;
    }
    div.row.messageForm{
        margin-left: 144px;
    }
    hr.contact{
        width: 696px;
    }
    img.img-fluid-contact{
        height: 294px;
        padding-top: 15px;
        margin-top: 40px;
    }
    div.footer-copywright.col-md-4{
        font-size: 0.44rem;
    }
}
@media screen and (width <=915px) { 
    div.navbar-nav{
        display: -webkit-inline-box;
        font-size: 14px;
        margin-left: -8px;
    }
    img.img-fluid.logo{
        max-width: 376px;
        margin-left: 33px;
        margin-top: 285px;
    }
    h3.hero{
        font-size: 14px;
        width: 166px;
        margin-left: 17px;
    }
    .about-container.container-fluid{
        height: 140vh;
    }
    h1.hero{
        margin-left: -10px;
        width: 190px;
        font-size: 28px;
    }
    .mission-container.container-fluid{
        height: 100vh;
    }
    .mission-description.row{
        margin-left: 66px;
    }
    div#contact.contact-section.container-fluid {
        padding-left: 11px;
        height: 96.05vh;
    }
    hr.contact{
        width: 690px;
    }
    input#name.form-control.formInput {
        width: 330px;
    }
    input#email.form-control.formInput {
        width: 330px;
    }
    input#phone.form-control.formInput {
        width: 330px;
    }
    input#city.form-control.formInput {
        width: 330px;
    }
    input#subject.form-control.formInput {
        width: 330px;
    }
    textarea#message.form-control.formInput {
        width: 330px;
    }
    h4.navBrand-heading{
        font-size: 1.25rem;
    }
    h4.mission{
        font-size: 1.2rem;
    }
    img.missionImg-fluid{
        height: 280px;
        margin-right: 16px;
    }
    .cards{
        padding-top: 54px;
        margin-top: -6px;
    }
    div.gallery-container.container-fluid{
        height: 105vh;
    }
    div.gallery-img.col-md-5{
        margin-left: 195px;
    }
    img.d-block.w-100{
        height: 562px;
    }
    .contact.row{
        flex-direction: column;
    }
    .row.formRow{
        margin-left: 10px;
    }
    .row.subjectForm{
        margin-left: 10px;
    }
    .row.messageForm{
        margin-left: 10px;
    }
    .contact-img.col-md-5{
        margin-top: 30px;
        margin-left: 198px;
    }
    .footer-flagImg.col-md-4{
        width: 70px;
        padding-left: 217px;
    }
    .footer-body.col-md-4{
        padding-left: 2px;
        padding-right: 23px;
    }
    div.footer-copywright.col-md-4{
        font-size: 0.40rem;
    }
}
@media (max-width: 896px) {
    img.img-fluid.logo{
        max-width: 360px;
    } 
    h4.navBrand-heading{
        font-size: 1.2rem;
    }
    .about-container.container-fluid{
        height: 164vh;
    }
    hr.about{
        margin-left: -24px;
        width: 107%;
    }
    .mission-container.container-fluid{
        height: 122vh;
    }
    .mission-img.col-md-5{
        margin-top: 17px;
    }
    div#contact.contact-section.container-fluid {
        height: 100vh;
    }
    .contact-img.col-md-5{
        margin-top: 17px;
    }
    .row.formRow{
        width: 340px;
    }
    .row.subjectForm{
        width: 340px;
    }
    .row.messageForm{
        width: 340px;
    }
    .col-12.text-center{
        padding-right: 0;
    }
    h3.hero{
        font-size: 12px;
        width: 160px;
    }
    div.row.formRow{
        margin-left: 158px;
    }
    div.row.subjectForm{
        margin-left: 158px;
    }
    div.row.messageForm{
        margin-left: 158px;
    }
    hr.contact{
        width: 680px;
    }
    img.img-fluid-contact{
        height: 280px;
        padding-top: 15px;
        margin-top: 24px;
    }
    div.footer-copywright.col-md-4{
        font-size: 0.39rem;
    }
    .footer-flagImg.col-md-4{
        padding-left: 210px;
    }
    
}    
@media screen and (width <=800px) { 
    h4.navBrand-heading{
        font-size: 1.1rem;
    }
    .moonContainer {
        margin-right: 4px;
        font-size: 30px;
        margin-top: -24px;
    }
    .moonPhaseEmoji{
        font-size: 33px;
        margin-top: -14px;
        margin-left: -15px;
        display: flex;
    }
    .moonPhaseEmoji2{
        display: none;
    }
    img.img-fluid.logo{
        max-width: 333px;
        margin-left: 29px;
    }
    .about-container.container-fluid{
        height: 167vh;
    }
    .mission-container.container-fluid{
        height: 130vh;
    }
    .row.formRow{
        width: 300px;
        margin-left: 0;
    }
    .row.subjectForm{
        width: 300px;
        margin-left: 0;
    }
    .row.messageForm{
        width: 300px;
        margin-left: 0;
    }
    hr.contact{
        width: 515px;
        margin-left: 88px;
    }
    .col-12.text-center{
        padding-right: 0;
        padding-left: 0;
    }
    h1.hero{
        width: 90px;
        margin-left: 42px;
    }
    h3.hero{
        width: 151px;
    }
    div.row.formRow{
        margin-left: 170px;
    }
    div.row.subjectForm{
        margin-left: 170px;
    }
    div.row.messageForm{
        margin-left: 170px;
    }
    .footer-copywright.col-md-4{
        font-weight: 700;
        font-size: 0.69rem;
        flex: 0 0 70%;
        max-width: 70%;
    }
    .footer-flagImg.col-md-4{
        width: 45px;
        padding-left: 22px;
    }
   .footer-body.col-md-4{
    flex: 0 0 15%;
    max-width: 15%;
   }
   div.footer-copywright.col-md-4{
    font-size: 0.5rem;
}
ul.footer-icons{
    width: 90px;
}
}
